.custom::before{
    content: "";
    border-left: 1px solid #fc0000;
    border-top: 1px solid #f50000;
    top: calc(50% - 0.5px);
    left: -1.5rem;
    position: absolute;
    height: 0;
    width: 1.5em;
}
.custom2:before{
    content: "";
    border-left: 1px solid #fc0000;
    border-top: 1px solid #f50000;
    top: calc(50% - 0.5px);
    left: -1.5rem;
    position: absolute;
    height: 100%;
    width: 1.5em;
}